# Solana
NEXT_PUBLIC_SOLANA_RPC_URL=
SOLANA_MINT_AUTHORITY_SECRET_KEY=

# Privy
NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_SECRET=
# Solana
NEXT_PUBLIC_SOLANA_RPC_URL=
SOLANA_MINT_AUTHORITY_SECRET_KEY=

# Privy
NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_SECRET=
